body {
  font-size: 16px;
  line-height 1.5;
  font-family: sans-serif;
  background-color: #212121;
}

h1{
  line-height 1.5;
  color: #bebebe;
  font-family: sans-serif;
}

h2{
  line-height 1.5;
  color: #bebebe;
  font-family: sans-serif;
}

h3{
  line-height 1.5;
  color: #bebebe;
  font-family: sans-serif;
}

h4{
  line-height 1.5;
  color: #bebebe;
  font-family: sans-serif;
}

p{
  line-height 1.5;
  color: #bebebe;
  font-family: sans-serif;
}

a:link{
  color: #FFFFFF;
  text-decoration: none;
}

a:visited{
  color: #BB86FC;
  text-decoration: none;
}

a:active{
  color: #3700B3;
  text-decoration: underline;
}

a:hover{
  color: #03DAC6;
  text-decoration: underline;
}

div.courses{
  line-height 1.5;
  color: #bebebe;
  font-family: sans-serif;
  text-align: center;
}

ul.myUL{
  text-align: left;
  display: inline-block;
}
.Name{
  text-align: center;
}

table{
  table-layout: fixed;
  width: 100%;
}

td{
  width: 10%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
